<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>添加大秘书</title>
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" href="/layui/css/formSelects-v4.css" th:href="@{/layui/css/formSelects-v4.css}" media="all"/>
    <style>
        .left {
            width: 50%;
            position: absolute;
            top: 30px;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body>
<div class="left">
    <!--添加大秘书表单-->
    <form class="layui-form" action="">
        <!--填写用户姓名\用户手机号\用户微信号三个字段-->
        <div class="layui-form-item">
            <label class="layui-form-label">用户姓名</label>
            <div class="layui-input-block">
                <input type="text" name="bigSecretaryName" class="layui-input" th:value="${bigSecretary.username}"
                       th:if="${type} eq 'edit'" lay-verify="bigSecretaryName"/>
                <input type="text" th:value="${bigSecretary.id}" style="display: none" th:if="${type} eq 'edit'"
                       name="id"/>
                <input type="text" name="bigSecretaryName" class="layui-input" th:if="${type} eq 'add'"
                       lay-verify="bigSecretaryName"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户手机号</label>
            <div class="layui-input-block">
                <input type="text" name="bigSecretaryTelNum" class="layui-input" th:value="${bigSecretary.tel_num}"
                       th:if="${type} eq 'edit'" lay-verify="bigSecretaryTelNum"/>
                <input type="text" name="bigSecretaryTelNum" class="layui-input" th:if="${type} eq 'add'"
                       lay-verify="bigSecretaryTelNum"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户微信号</label>
            <div class="layui-input-block">
                <input type="text" name="bigSecretaryWxNum" class="layui-input" th:value="${bigSecretary.wx_num}"
                       th:if="${type} eq 'edit'" lay-verify="bigSecretaryWxNum"/>
                <input type="text" name="bigSecretaryWxNum" class="layui-input" th:if="${type} eq 'add'"
                       lay-verify="bigSecretaryWxNum"/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">

    //开启layui的组件
    layui.use(['form', 'jquery', 'layer'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;

        var type = [[${type}]]

        //监听提交
        form.on('submit(formDemo)', function (data) {

            $.ajax({
                type: 'POST',
                url: 'post/' + type,
                data: {
                    id: data.field.id,
                    bigSecretaryName: data.field.bigSecretaryName,
                    bigSecretaryTelNum: data.field.bigSecretaryTelNum,
                    bigSecretaryWxNum: data.field.bigSecretaryWxNum
                },
                dataType: 'json',
                success: function (data) {
                    if (data.state) {
                        var msg;
                        if (data.type === "add") {
                            msg = "添加成功！";
                        } else {
                            msg = "修改成功！"
                        }
                        layer.msg(msg, {
                            icon: 1, time: 1000, end: function () {
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                                parent.location.reload();//刷新数据
                            }
                        });
                    } else {
                        layer.msg('出现错误，请重试!', {icon: 1, time: 1000});
                    }
                }
            });
            return false;
        });

        //自定义验证规则
        form.verify({
            bigSecretaryName: function (value) {
                if (value == "") {
                    return '请输入大秘书姓名';
                }
            },
            bigSecretaryTelNum: function (value) {
                if (value == "") {
                    return '请输入大秘书手机号';
                }
            },
            bigSecretaryWxNum: function (value) {
                if (value == "") {
                    return '请输入大秘书微信号';
                }
            },
        });


    });


</script>
</body>
</html>