<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/layui/css/layui.css" media="all" th:href="@{/layui/css/layui.css}"/>
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"
      th:href="@{/font-awesome/css/font-awesome.min.css}" media="all"/>
<link rel="stylesheet" href="/css/app.css" th:href="@{/css/app.css}" media="all"/>
<link rel="stylesheet" href="/css/themes/default.css" th:href="@{/css/themes/default.css}" media="all" kit-skin=""
      id="skin"/>
<head>
    <title>index</title>
</head>
<body>
    <div>
        聊天室列表
        <div class="layui-form">
            <!--医生列表Table-->
            <table class="layui-table">
                <colgroup>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="auto"/>
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"/></th>
                    <th>聊天室id</th>
                    <th>聊天室名称</th>
                    <th>聊天室创建时间</th>
                    <th>聊天室创建者的id</th>
                    <th>聊天室所属科室</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="chatRoomView:${chatRoomViews}" th:id="${chatRoomView.id}">
                    <td><input type="checkbox" name="f" lay-skin="primary" lay-filter='itemChoose'
                               th:value="${chatRoomView.id}"/></td>
                    <td th:text="${chatRoomView.id}"></td>
                    <td th:text="${chatRoomView.name}"></td>
                    <td th:text="${chatRoomView.create_date}"></td>
                    <td th:text="${chatRoomView.create_admin_id}"></td>
                    <td th:text="${chatRoomView.create_admin_id}"></td>
                    <td>
                        <a title="修改信息" data-method="join" class="tanchuang"><i class="layui-icon">&#xe642;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        添加聊天室
        <div class="layui-inline">
            <button type="button" class="layui-btn  tanchuang" id="add" data-method="addChatRoom"><i
                    class="layui-icon">&#xe61f;</i>添加聊天室
            </button>
        </div>
    </div>
    <hr>
    <hr>
    <hr>
    你的登录信息：
    <span th:text="${session.id}"></span>
    <span th:text="${session.username}"></span>
    <span th:text="${session.telNum}"></span>
    <span th:text="${session.wxNum}"></span>
</body>

<script type="text/javascript" src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">

    //启用所有需要的layui里的组件
    layui.use(['form', 'jquery', 'laypage', 'layer', 'table'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;

        //设计弹出层
        var active = {
            //添加新的聊天室
            addChatRoom: function () {
                layer.open({
                    type: 2
                    , title: '添加聊天室'
                    , area: ['820px', '470px']
                    , shade: 0.8
                    , maxmin: true,
                    /*<![CDATA[*/
                    content: "chatRoom/add"
                    /*]]>*/
                });
            }
        };

        //启用弹出层
        $('.tanchuang').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
    });


</script>
</html>