<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>小秘书列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all"/>
    <style>
        .layui-table, .layui-table th {
            text-align: center;
        }
    </style>
</head>
<body>
<blockquote class="layui-elem-quote">
    <!--添加小秘书按钮-->
    <div class="layui-inline">
        <button type="button" class="layui-btn  tanchuang" id="add" data-method="addSmallSecretary"><i
                class="layui-icon">&#xe61f;</i>添加小秘书
        </button>
    </div>
    <!--查询按钮-->
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" placeholder="请输入小秘书姓名" id="searchInp" class="layui-input search_input"
                   th:value="${docName}"/>
        </div>
        <a class="layui-btn search_btn search"><i class="layui-icon">&#xe615;</i>查询</a>
    </div>

</blockquote>
<div class="layui-form">
<!--小秘书列表Table-->
    <table class="layui-table">
        <colgroup>
            <col width="10%"/>
            <col width="20%"/>
            <col width="20%"/>
            <col width="20%"/>
            <col width="auto"/>
        </colgroup>
        <thead>
        <tr>
            <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"/></th>
            <th>小秘书姓名</th>
            <th>小秘书手机号码</th>
            <th>小秘书微信号码</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="smallSecretaryView:${smallSecretaryViews}" th:id="${smallSecretaryView.id}">
            <td><input type="checkbox" name="f" lay-skin="primary" lay-filter='itemChoose'
                       th:value="${smallSecretaryView.id}"/></td>
            <td th:text="${smallSecretaryView.username}"></td>
            <td th:text="${smallSecretaryView.tel_num}"></td>
            <td th:text="${smallSecretaryView.wx_num}"></td>
            <td>
                <a title="修改信息" data-method="modSmallSecretary" class="tanchuang"><i class="layui-icon">&#xe642;</i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">

    //启用所有需要的layui里的组件
    layui.use(['form', 'jquery', 'laypage', 'layer', 'table'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var laypage = layui.laypage;
        var layer = layui.layer;

        //实现查询小秘书
        $('.search').click(function () {
            var smallSecretaryName = $('#searchInp').val();
            if (smallSecretaryName == null || smallSecretaryName.trim() === '') {
                layer.open({
                    title: '提示',
                    content: '请输入查询信息'
                });
                return;
            }
            /*<![CDATA[*/
            window.location.href = "fuzzyQueryWithSmall?smallSecretaryName=" + smallSecretaryName;
            /*]]>*/
        });

        //全选
        form.on('checkbox(allChoose)', function (data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });

        //取消全选
        form.on('checkbox(itemChoose)', function (data) {
            var sib = $(data.elem).parents('table').find('tbody input[type="checkbox"]:checked').length;
            var total = $(data.elem).parents('table').find('tbody input[type="checkbox"]').length;
            if (sib == total) {
                $(data.elem).parents('table').find('thead input[type="checkbox"]').prop("checked", true);
                form.render();
            } else {
                $(data.elem).parents('table').find('thead input[type="checkbox"]').prop("checked", false);
                form.render();
            }
        });

        //设计弹出层
        var active = {
            //修改小秘书信息
            modSmallSecretary: function (othis) {
                var id = $(othis).parent('td').parent('tr').attr('id');

                   layer.open({
                    type: 2
                    , title: '修改小秘书信息'
                    , area: ['820px', '470px']
                    , shade: 0.8
                    , maxmin: true,
                    /*<![CDATA[*/
                    content: "smallSecretary/list/edit?id="+id
                    /*]]>*/
                });
            },
            //添加新的小秘书
            addSmallSecretary: function () {
                layer.open({
                    type: 2
                    , title: '添加小秘书'
                    , area: ['820px', '470px']
                    , shade: 0.8
                    , maxmin: true,
                    /*<![CDATA[*/
                    content: "smallSecretary/list/add"
                    /*]]>*/
                });
            },

        };

        //启用弹出层
        $('.tanchuang').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });


    });


</script>
</body>
</html>