<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form enctype="multipart/form-data" name="form1">
    上传文件：<input id="f" type="file" name="f" onchange="change()" />
    预览：<img id="preview" alt="" name="pic" width="300" height="150" />
</form>
<script>
    function change() {
        log.info("1111")
        var pic = document.getElementById("preview");
        var file = document.getElementById("f");
        var ext=file.value.substring(file.value.lastIndexOf(".")+1).toLowerCase();//js获取文件名的后缀

        html5Reader(file);
    }
    function html5Reader(file){
        var file = file.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(e){
            var pic = document.getElementById("preview");
            pic.src=this.result;
        }
    }
</script>
</body>
</html>


</html>